body {
  height: 100vh;
}

.buttons {
  /* display: flex;
  align-self: center;
  justify-content: center; */
  width: max-content;
  margin: auto;
  /* gap: 10px; */
}
button {
  font-size: 32px;
  border-radius: 100px;
}
ul {
  list-style: none;
}
